.btn {
  color: inherit;
  background-color: var(--brand-secondary);
  border: none;
  padding: 8px;
  cursor: pointer;
}

.add-fav-btn {
  font-size: 1.2rem;
  color: white;
}

.details-card-bottom {
  border: var(--default-border);
  font-size: 0.875rem;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-secondary {
  color: var(--brand-secondary);
}
.background-secondary {
  background-color: var(--brand-secondary);
}

.card {
  background-color: var(--bg-default);
  border-radius: 7px;
  overflow: hidden;
  color: var(--body-text);
  text-decoration: none;
  box-shadow: 0px 0px 6px 1px var(--lines-color);
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
  background-color: white;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-default);
  row-gap: 5px;
}

.search-bar input {
  background-color: transparent;
  color: inherit;
}

.search-bar .search {
  flex-grow: 5;
  display: flex;
  border-left: 1px solid var(--bg-body);
}

.search-bar .settings {
  min-width: 150px;
  flex-grow: 2;
  display: flex;
}

.search-bar .settings select {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  width: 100%;
}

.search-field {
  outline: none;
}

.search-bar .settings .sort {
  width: 50%;
  border-left: 1px solid var(--bg-body);
}
.search-bar .settings .filter {
  width: 50%;
}
.search-bar .settings .filter {
  border-left: 1px solid var(--bg-body);
}

.search-bar select {
  color: inherit;
}

.search input {
  border: none;
  flex-grow: 1;
}
.header-top {
  align-items: center;
  padding: 10px 3%;
}

.a {
  color: blue;
}
.header-top-title {
  color: var(--brand-primary);
  font-weight: 700;
  margin: 16px 0;
  text-decoration: none;
}
.header-shape {
  height: 80px;
  position: relative;
}

.header-shape .triangle-a {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 80% 0%, 0% 100%);
  background: linear-gradient(
    to right,
    var(--brand-primary) 0%,
    var(--brand-secondary) 100%
  );
  position: absolute;
}
.header-shape .triangle-b {
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0%, 100% 100%, 20% 0%);
  background-color: var(--brand-secondary);
  position: absolute;
}
.header-title {
  transform: translate(0, -30px);
}
.main {
  padding: 30px;
  background-color: var(--bg-body);
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.body-container {
  min-height: 100vh;
}

.favorite {
  box-sizing: border-box;
  transition: transform 1s;
  transform: translateY(100%);
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--bg-default);
  padding: 0 30px 20px 30px;
  display: flex;
  justify-content: center;
}

.favorite-show {
  transform: translateY(0);
}

.favorite-card {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
}

.favorite-cards-container {
  gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-height: 50vh;
  overflow-y: scroll;
}

.favorite-cards-container::-webkit-scrollbar {
  display: none;
}

.favorite-card-img {
  width: 100%;
  aspect-ratio: 2/1;
}

.cards-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  flex-wrap: wrap;
}

.header-button {
  color: inherit;
  background: transparent;
  border: 2px solid rgba(118, 101, 101, 0.3);
  display: flex;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.sections-container {
  max-width: 600px;
  flex-grow: 1;
  background-color: var(--bg-default);
  border: var(--default-border);
  border-radius: 7px;
}
.details-description {
  background-color: #333333;
}
.details-description-container {
  max-width: 880px;
}

.section-item {
  border-top: var(--default-border);
}
.header-button i {
  width: 20px;
  font-weight: 500;
}
.icon {
  width: 20px;
  height: 20px;
}
.stars-container {
  margin-top: 35px;
}

.fa-star {
  color: orange;
}
.fa-star-o {
  color: orange;
}

.main-container {
  max-width: 1280px;
  flex-grow: 1;
}

.description-container {
  max-width: 600px;
}

.description-content {
  padding-bottom: 24px;
}

.details-card {
  transform: translateY(-200px);
  background-color: white;
  margin-left: 30px;
  padding-bottom: 12px;
  width: 250px;
  color: black;
}

.page-max-width {
  max-width: 1280px;
}
@media (max-width: 1024px) {
  .header-shape {
    height: 60px;
  }

  .header-title {
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) {
  .header-shape {
    height: 40px;
  }

  .header-title {
    transform: translate(0, 0);
  }

  .header-button-label {
    display: none;
  }
}
